/*
    HERO BANNER STYLE
    PRESENT IN : template/home/index.html.twig
*/

/* --------------------------------------------------- */
/* ----------------------------------- General styling */
/* --------------------------------------------------- */

#hero-banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 562px;
    background-image: url("../../images/herobanner/hero_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5rem;
    margin: auto 0px;
}

#hero-banner h2 {
    font-size: 36px;
    color: #343131;
    width: 90%;
}

#hero-text {
    width: 40%;
}

#hero-description {
    font-size: 18px;
    color: #343131;
    margin: 2rem 0 3rem 0;
}

.hero-btn {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3DA272;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.hero-btn:hover {
    background-color: #258155;
}

/* --------------------------------------------------- */
/* ------------------------------------ Mobile styling */
/* --------------------------------------------------- */

#hero-banner-mobile {
    display: none;
    justify-content: center;
    background-color: white;
}

#hero-banner-mobile h2 {
    font-size: 18px;
    border-top: 1px solid #343131;
    padding: 2rem;
    margin: 1rem;
    width: 20rem;
    text-align: center;
}

@media (max-width: 1190px) {
    #hero-text {
        width: 50%;
    }

    #hero-banner h2 {
        width: 100%;
    }
}

@media (max-width: 850px) {
    #hero-banner {
        display: none;
    }

    #hero-banner-mobile {
        display: flex;
    }

}